script==File.read("d3.min.js")
script==File.read("timbre.js")
script==File.read("abc.js")
script==File.read("lodash.js")
script==File.read("pitches.js")
script==File.read("jquery-3.1.0.min.js")
script==File.read("abcjs_basic_2.3-min.js")

coffee:
  window.abc =
    """
    X: 1
    T: Bonaparte Crossing The Rhine
    R: barndance
    M: 4/4
    L: 1/8
    K: Dmaj
    FG| A>BAF A2de| f>efa d2dc| BB/c/dB AFED| E2E>F E2
    FG|A>BAF A2de| f>efa d2dc| BB/c/dB AFEF| D2D>E D2de|
    f>efg a2A2| B>ABc d3A| BB/c/dB AFDF| E2E>F E2
    FG|A>BAF A2de| f>efa d2dc| BB/c/dB AFEF| D2D>E D2 |]
    """

  window.voice = T("pluck", {freq:500, mul:0.2}) unless window.voice
  reverb = T("reverb", {room:0.95, damp:0.4, mix:0.75}, voice)
  #reverb = T("reverb", {room:0.15, damp:0.7, mix:0.75}, voice)
  voice.play()
  reverb.play()

  tunebook = new ABCJS.TuneBook(abc)
  parser = new ABCJS.parse.Parse()
  parser.parse(tunebook.tunes[0].abc)

  window.majorScale = [0, 2, 4, 5, 7, 9, 11]

  tune = parser.getTune()
  rootIndex = _.findIndex(Pitches, (p) -> p.name == "C4")
  rootDuration = 5000
  window.notesToPlay = []
  for line in tune.lines
    for staff in line.staff
      for note in staff.voices[0] when note.el_type is "note"
        notesToPlay.push(note)

  donePlaying = ->
    reverb.pause()
    voice.pause()

  window.playNextNote = ->
    return donePlaying() if notesToPlay.length is 0
    note = notesToPlay.shift()
    keyPitch = majorScale[note.pitches[0].pitch % majorScale.length] + Math.floor(note.pitches[0].pitch / majorScale.length)
    keyPitch -= 1 if note.pitches[0].accidental is "flat"
    keyPitch += 1 if note.pitches[0].accidental is "sharp"
    pitch = Pitches[rootIndex + keyPitch]
    if pitch
      voice.set({freq: pitch.freq})
      voice.bang()
    else
      console.log("Could not find pitch for", note)
    setTimeout(playNextNote, note.duration * rootDuration)
  setTimeout(playNextNote, 0)
