script==File.read("d3.min.js")
script==File.read("timbre.js")
script==File.read("abc.js")
script==File.read("lodash.js")
script==File.read("pitches.js")
script==File.read("jquery-3.1.0.min.js")
script==File.read("abcjs_basic_2.3-min.js")
script==File.read("plotly-latest.min.js")

sass:
  body
    user-select: text
    background-color: rgb(29, 31, 33)
    color: #eee
    overflow-y: scroll
    overflow-x: hidden
    font-family: "Consolas", mono

  a:visited
    color: #aaa

  .string
    width: 100%
    background-color: rgb(46, 30, 12)
    position: absolute
    left: 0
    height: 20px
  .fret
    float: left
    border-left: 1px solid rgb(224, 235, 240)
    padding: 5px

  #abc
    margin-top: 182
    font-family: "Consolas", mono
    width: 100%
    text-align: center
    font-size: 26px
    user-select: text
    -webkit-user-select: text
  .button
    padding: 20px
    border: 1px solid #eee
    cursor: pointer
    margin: 10px
    display: inline-block

  select, input
    padding: 1em
    border: 1px solid #333
    color: #eee
    font-family: 'Source Code Pro'
    font-size: 100%
    background-color:  rgb(29, 31, 33)
    display: inline-block

  #plot
    margin-bottom: 10px

  #sheet-music
    margin: auto
    background-color: #fff

css:
  span.note {
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 2em;
  }
  #abc {
    padding: 1em;
    white-space: pre-wrap
  }

h1 Banjo Player
small
  markdown:
    by [Zach Capalbo](http://zachcapalbo.com)

    [Source Code](https://gitlab.com/zach-geek/banjo-synth)
markdown:
  This is a kind-of banjo simulator. You play your keyboard kindof like it was a banjo,
  but you could only hammer the strings (sorry, finger-pickin's not in yet). The
  space bar is the fifth string, and they go out from there.
a.button#create-abc Create ABC / Sheet Music
a.button#clear Clear
select#tuning
| Capo
input#capo type="number" name="Capo" min="-16`" max="16" value="0"
svg#banjo width="600" height="200"
#sheet-music
pre#abc.data
#plot
table#data.data
coffee:
  window.strings = [
    "1234567890-=",
    "qwertyuiop[]\\",
    "asdfghjkl;'"
    "zxcvbnm,./"
    " "
  ].reverse()

  window.tunings = [
    {
      name: "Open G"
      notes: [
       "D5"
       "B4"
       "G4"
       "D4"
       "G5"
      ]
    },
    {
      name: "Sawmill"
      notes: [
        "D5"
        "C5"
        "G4"
        "D4"
        "G5"
      ]
    },
    {
      name: "Double-C"
      notes: [
        "D5"
        "C5"
        "G4"
        "C4"
        "G5"
      ]
    },
    {
      name: "Open-C"
      notes: [
        "E5"
        "C5"
        "G4"
        "C4"
        "G5"
      ]
    }
  ]
  t.notes.reverse() for t in tunings

  startVoice = () => 
    window.voice = T("pluck", {freq:500, mul:0.3}).play() unless window.voice
    #reverb = T("reverb", {room:0.95, damp:0.4, mix:0.75}, voice)
    #reverb = T("reverb", {room:0.15, damp:0.7, mix:0.75}, voice)
    
    voice.play()
    #reverb.play()

  window.default_plot_layout = {
    # title: 'Temperature'
    xaxis:
      title: 'Time'
      zeroline: false
    yaxis:
      title: 'F'
    plot_bgcolor: $('body').css("background-color")
    paper_bgcolor: $('body').css("background-color")
    font:
      color: $('body').css("color")
      family: $('body').css("font-family")
    titlefont:
      color: $('body').css("color")
      family: $('body').css("font-family")
    yaxis:
      gridcolor: "#333"
    xaxis:
      gridcolor: "#333"
    margin:
      t: 10
      b: 40
  }


  window.d3 = Plotly.d3
  window.plotDiv = $('#plot')[0]
  window.notes = []
  window.allNotes = ["B0", "C1", "CS1", "D1", "DS1", "E1", "F1", "FS1", "G1", "GS1", "A1", "AS1", "B1", "C2", "CS2", "D2", "DS2", "E2", "F2", "FS2", "G2", "GS2", "A2", "AS2", "B2", "C3", "CS3", "D3", "DS3", "E3", "F3", "FS3", "G3", "GS3", "A3", "AS3", "B3", "C4", "CS4", "D4", "DS4", "E4", "F4", "FS4", "G4", "GS4", "A4", "AS4", "B4", "C5", "CS5", "D5", "DS5", "E5", "F5", "FS5", "G5", "GS5", "A5", "AS5", "B5", "C6", "CS6", "D6", "DS6", "E6", "F6", "FS6", "G6", "GS6", "A6", "AS6", "B6", "C7", "CS7", "D7", "DS7", "E7", "F7", "FS7", "G7", "GS7", "A7", "AS7", "B7", "C8", "CS8", "D8", "DS8"]

  Plotly.newPlot(plotDiv, [{x: [], y: [], mode: 'markers+lines'}], $.extend(window.default_plot_layout, {yaxis: {ticktext: allNotes, tickvals: (i for n, i in allNotes)}}))

  window.current_tuning_notes = tunings[0].notes

  window.tuning = ->
    current_tuning_notes

  update_last_note = (msg) ->
    unless notes.length == 0
      lastNote = notes[notes.length - 1]
      lastNote.duration = msg.timeStamp - lastNote.timeStamp
      if lastNote.duration < 2
        notes.pop()
        plotDiv.data[0].x.pop()
        plotDiv.data[0].y.pop()
      else
        plotDiv.data[0].x.push msg.timeStamp
        plotDiv.data[0].y.push allNotes.indexOf(lastNote.data)
        plotDiv.data[0].x.push null
        plotDiv.data[0].y.push null
  addNote = (msg) ->
    update_last_note(msg)

    notes.push msg
    plotDiv.data[0].x.push msg.timeStamp
    plotDiv.data[0].y.push allNotes.indexOf(msg.data)

    d = d3.select('#data').selectAll('tr').data(notes, (n) -> [n.data, n.timeStamp])

    td = d.selectAll('td').data((i) -> [i.data, i.timeStamp, i.duration])
    td.enter().append('td').text((i) -> i)
    td.exit().remove()

    tr = d.enter().append('tr')
    tr.append('td').text((i) -> i.data)
    tr.append('td').text((i) -> "#{i.timeStamp}")

    d.exit().remove()
    Plotly.redraw(plotDiv)

  clearAbc = ->
    window.notes = []
    plotDiv.data[0].x = []
    plotDiv.data[0].y = []
    Plotly.redraw(plotDiv)

    tr = d3.select('#data').selectAll('tr').data(notes).exit().remove()
    d3.select('#abc').text("")
    d3.select('#sheet-music').html("")
    d3.select('#sheet-music').attr('style', '')

  $('#clear').click ->
    clearAbc()
  $('#create-abc').click ->
    window.abc = generateABC(notes)
    $('#abc').text(abc.text)
    ABCJS.renderAbc('sheet-music', abc.text, null, {editable: false})

  window.pressDown = (whichString, whichFret) ->
    clearInterval fadeoutInterval if window.fadeoutInterval
    stringPitchIndex = _.findIndex(Pitches, (p) -> p.name == tuning()[whichString])
    capo = parseInt($('#capo')[0].value)
    pitch = Pitches[stringPitchIndex + whichFret + capo]
    addNote(data: "#{pitch.name}", timeStamp: Date.now())
    d3.select("#abc").text("#{pitch.name}")
    voice.play()
    voice.set({freq: pitch.freq, mul: 0.3})
    voice.bang()

    d3.select('#indicator').transition().duration(200)
      .attr('cx', fretpos(whichFret))
      .attr('cy', stringpos(whichString))

  window.unpressDown = ->
    window.currentFade = 0.3
    window.fadeoutInterval = setInterval(fadeout, 50)
    unless notes.length == 0
      lastNote = notes[notes.length - 1]
      duration = Date.now() - lastNote.timeStamp
      #update_last_note(timeStamp: Date.now()) unless duration < 100

  $("body").keydown (e) ->
    startVoice()
    if e.ctrlKey
      switch e.key
        when "q" then clearAbc()
      return
    return if window.lastKey == e.key
    window.lastKey = e.key
    whichString = _.findIndex(strings, (s) -> s.indexOf(e.key) >= 0)
    whichFret = strings[whichString].indexOf(e.key)
    pressDown(whichString, whichFret)


  fadeout = ->
    voice.set({mul: window.currentFade})
    window.currentFade = currentFade - 0.01
    clearInterval fadeoutInterval if currentFade <= 0

  $("body").keyup (e) ->
    return unless window.lastKey == e.key
    window.lastKey = null
    unpressDown()

  window.fretpos = (num) ->
    scaleLength = 800
    tempermentConstant = 17.817
    return 0 if num == 0
    return scaleLength / tempermentConstant if num == 1
    m1 = fretpos(num - 1)
    return ((scaleLength - m1) / 17.817) + m1

  window.stringpos = (num) ->
    return (strings.length - num) / (strings.length + 1) * banjoHeight

  window.banjoHeight = 100

  $(document).ready ->
    d3.select('#banjo').selectAll('.fret').data([1..24])
      .enter().append('line')
      .attr('class', 'fret')
      .attr('x1', (d) -> fretpos(d))
      .attr('y1', 0)
      .attr('x2', (d) -> fretpos(d))
      .attr('y2', banjoHeight)
      .attr('stroke-width', 2)
      .attr('stroke', '#99a')

    d3.select('#banjo').selectAll('.dot').data([5, 7, 12])
      .enter().append('circle')
      .attr('class', 'dot')
      .attr('fill', 'rgb(187, 168, 99)')
      .attr('cx', (d) -> (fretpos(d) + fretpos(d - 1)) / 2)
      .attr('cy', banjoHeight / 2.0)
      .attr('r', 7)

    d3.select('#banjo').selectAll('.string').data(strings)
      .enter().append('line')
      .attr('class', 'string')
      .attr('stroke-width', (d, i) -> if i == 0 then 0.5 else 3.0 * (strings.length - i) / strings.length )
      .attr('stroke', '#999')
      .attr('x1', 0)
      .attr('x2', 800)
      .attr('y1', (d, i) -> stringpos(i))
      .attr('y2', (d, i) -> stringpos(i))

    #circle#indicator cx="0" cy="0" r="4" fill="rgb(31, 119, 180)"
    d3.select('#banjo').append('circle')
      .attr('id', 'indicator')
      .attr('cx', 0)
      .attr('cy', 0)
      .attr('r', 4)
      .attr('fill', "rgb(31, 119, 180)")

    d3.select('#tuning').selectAll('option').data(tunings)
      .enter()
      .append('option')
      .attr('value', (d) -> d.name)
      .text((d) -> d.name)

    d3.select('#tuning').on "change", ->
      name = d3.select(this).property('value')
      window.current_tuning = _.find(tunings, (t) -> t.name == name)
      window.current_tuning_notes = current_tuning.notes

    
    try
      false && $.getScript "/js/erpc.js", ->
        console.log "Connecting to esquilo"
        erpc("startRecording")
        window.socket = new WebSocket("ws://" + window.location.hostname + "/websocket")
        socket.onopen = ->
          console.log "Connected"
        socket.onmessage = (msg) ->
          console.log msg
          d = $.parseJSON(msg.data)
          unpressDown()
          pressDown(d.string, d.fret)

        socket.onerror = (e) ->
          console.log "Error: #{e}"
        socket.onclose = ->
          console.log "Closed"
    catch
      console.log "Not connectoing to esquilo"
